/lobby/cache/
/lobby/libraries/
/lobby/plugins/.paper-remapped/
/lobby/versions/
/mod-alpha/libraries/
/mod-beta/plugins/.paper-remapped/
/survival/cache/
/survival/libraries/
/survival/plugins/.paper-remapped/
/survival/versions/