/Velocity/velocity-server.jar
/Sub-Server/lobby/cache/
/Sub-Server/lobby/libraries/
/Sub-Server/lobby/plugins/.paper-remapped/
/Sub-Server/lobby/versions/
/Sub-Server/lobby/paper-server.jar
/Sub-Server/mod-alpha/libraries/
/Sub-Server/mod-beta/plugins/.paper-remapped/
/Sub-Server/mod-beta/youer-server.jar
/Sub-Server/survival/cache/
/Sub-Server/survival/libraries/
/Sub-Server/survival/plugins/.paper-remapped/
/Sub-Server/survival/versions/
/Sub-Server/survival/paper-server.jar